@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
